.section-wrap{
	margin: 0;
	padding: 0;
}
.section-header,.section-main,.section-footer{
	width: 960px;
	background-color: gray;
	margin: 0 auto;
}
.section{
	width: 100%;
	height: 100%;
}
.info{
	text-align: center;
}
.getMsg{
	border：soild 1px;
	width: 100px;
	height: 100px;
}
.sendMsg{
	border：soild 1px;
	width: 100%;
	height: 50px;
}
#msg{
	width: 100px;
	height: 50px;
	margin: 0 auto;
}